<h1>Confirmez votre email 😊</h1>

<p>
    Confirmez votre email en cliquant sur le lien ci-dessous : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon email</a>.
    Le lien expireras dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Bravo ! 
</p>
