@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Rubik+Distressed&display=swap");
* {
    font-family: "league spartan";
    color: black;
    font-size: 30px;
    h1 {
        font-size: 50px;
        font-weight: 600;
    }
    // h2 {
    // margin-top: 10px;
    // }
    h3 {
        font-family: "rubik distressed";
        text-transform: uppercase;
        font-size: 32px;
        font-weight: 300;
        color: white;
        text-align: center;
    }
    p {
        font-size: 20px;
    }

    .textsearch {
        text-decoration: none;
        color: white;
        
    }
}
