.divaccueil {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .searchbar {
        background-color: #f0cd8c;
        border: 3px solid #f4a159;
        border-radius: 27px;
        width: 95vw;
        height: fit-content;
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;

        h1 {
            font-size: 1rem !important;
            margin-left: 1rem !important;
        }

        .dropdown {
            display: flex;
            justify-content: center;
            flex-direction: column;

            .btncatdrop {
                background-color: #f7dfae;
                border-radius: 19px;
                border: 3px solid #cab673;
                gap: 10px;
                width: 90%;
            }
            .btnetmap {
                display: flex;
                justify-content: center;
                align-items: center;
                .btnsearch {
                    background-color: #e96a25;
                    border-radius: 19px;
                    border: none;
                    color: white;
                    height: 2rem;
                    width: 150px;
                    font-size: 25px ;
                }
                .outils {
                    .map {
                        height: 2rem;
                        width: 150px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin: 10px;
                        background: rgba(255, 255, 255, 0%);
                        border: 3px solid #cab673;
                        border-radius: 12px;
                        .apimap {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                        }
                        p {
                            font-size: 25px;
                        }

                        img {
                            margin-left: 5px;
                            width: 1.2rem;
                            height: 1.2rem;
                        }
                    }
                }
            }
        }
    }
}

.divcat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    gap: 10px;
    align-items: center;

    .divcatcol {
        display: flex;

        gap: 10px;

        .btndivcat1 {
            background-color: #549ea0;
            color: white;
            border-radius: 30px;
            border: none;
            line-height: 40px;
            font-family: "rubik distressed";
            font-size: 17px;
            width: 5rem;
            height: 5rem;
        }
        .btndivcat2 {
            background-color: #694973;
            color: white;
            border-radius: 30px;
            border: none;
            line-height: 40px;
            font-family: "rubik distressed";
            font-size: 17px;
            width: 5rem;
            height: 5rem;
        }
    }
    .divcatcol2 {
        display: flex;
        gap: 10px;
        .btndivcat3 {
            background-color: #71a064;
            color: white;
            border-radius: 30px;
            border: none;
            line-height: 40px;
            font-family: "rubik distressed";
            font-size: 17px;
            width: 5rem;
            height: 5rem;
        }
        .btndivcat4 {
            background-color: #c55456;
            color: white;
            border-radius: 30px;
            border: none;
            line-height: 40px;
            font-family: "rubik distressed";
            font-size: 17px;
            width: 5rem;
            height: 5rem;
        }
    }
}

@media screen and (min-width: 801px) and (max-width: 1400px) {
    .divaccueil {
        .searchbar {
            h1 {
                font-size: 2rem;
                margin-left: 2rem;
            }
            .dropdown {
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 20px;
                .btncatdrop {
                    background-color: #f7dfae;
                    border-radius: 19px;
                    border: 3px solid #cab673;
                    width: 20%;
                    height: 2rem;
                    gap: 10px;
                }
                .btnsearch {
                    border-radius: 19px;
                    border: none;
                    color: white;
                    padding-left: 40px;
                    padding-right: 40px;
                    width: 10rem;
                    height: 2rem;
                }
            }
        }
    }

    .divcat {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 30px;
        gap: 20px;
        .divcatcol {
            display: flex;
            flex-direction: row;
            gap: 20px;
            .btndivcat1 {
                background-color: #549ea0;
                color: white;
                border-radius: 30px;
                border: none;
                line-height: 60px;
                font-family: "rubik distressed";
                font-size: 32px;
                width: 10rem;
                height: 10rem;
            }
            .btndivcat2 {
                background-color: #694973;
                color: white;
                border-radius: 30px;
                border: none;
                line-height: 60px;
                font-family: "rubik distressed";
                font-size: 32px;
                width: 10rem;
                height: 10rem;
            }
        }
        .divcatcol2 {
            display: flex;
            flex-direction: row;
            gap: 20px;
            .btndivcat3 {
                background-color: #71a064;
                color: white;
                border-radius: 30px;
                border: none;
                line-height: 60px;
                font-family: "rubik distressed";
                font-size: 32px;
                width: 10rem;
                height: 10rem;
            }
            .btndivcat4 {
                background-color: #c55456;
                color: white;
                border-radius: 30px;
                border: none;
                line-height: 60px;
                font-family: "rubik distressed";
                font-size: 32px;
                width: 10rem;
                height: 10rem;
            }
        }
    }
}

@media screen and (min-width: 1401px) {
    .divaccueil {
        .searchbar {
            h1 {
                font-size: 2rem;
                margin-left: 2rem;
            }
            .dropdown {
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 20px;
                .btncatdrop {
                    background-color: #f7dfae;
                    border-radius: 19px;
                    border: 3px solid #cab673;
                    width: 20%;
                    height: 2rem;
                    gap: 10px;
                }
                .btnsearch {
                    border-radius: 19px;
                    border: none;
                    color: white;
                    padding-left: 40px;
                    padding-right: 40px;
                    width: 10rem;
                    height: 2rem;
                }
            }
        }
    }
    .divcat {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 30px;
        gap: 20px;
        .divcatcol {
            display: flex;
            flex-direction: row;
            gap: 20px;
            .btndivcat1 {
                background-color: #549ea0;
                color: white;
                border-radius: 30px;
                border: none;
                line-height: 60px;
                font-family: "rubik distressed";
                font-size: 32px;
                width: 10rem;
                height: 10rem;
            }
            .btndivcat2 {
                background-color: #694973;
                color: white;
                border-radius: 30px;
                border: none;
                line-height: 60px;
                font-family: "rubik distressed";
                font-size: 32px;
                width: 10rem;
                height: 10rem;
            }
        }
        .divcatcol2 {
            display: flex;
            flex-direction: row;
            gap: 20px;
            .btndivcat3 {
                background-color: #71a064;
                color: white;
                border-radius: 30px;
                border: none;
                line-height: 60px;
                font-family: "rubik distressed";
                font-size: 32px;
                width: 10rem;
                height: 10rem;
            }
            .btndivcat4 {
                background-color: #c55456;
                color: white;
                border-radius: 30px;
                border: none;
                line-height: 60px;
                font-family: "rubik distressed";
                font-size: 32px;
                width: 10rem;
                height: 10rem;
            }
        }
    }
}

// @media screen and (min-width: 1401px) {
//     .divaccueil {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         .searchbar {
//             background-color: #f0cd8c;
//             border: 3px solid #f4a159;
//             border-radius: 27px;
//             width: 50rem;
//             height: 6rem;
//             h1 {
//                 margin-left: 2rem;
//                 margin-top: 1rem;
//                 margin-bottom: 1rem;
//             }
//             .dropdown {
//                 display: flex;
//                 justify-content: center;
//                 gap: 20px;
//                 .btncatdrop {
//                     background-color: #f7dfae;
//                     border-radius: 19px;
//                     border: 3px solid #cab673;
//                     width: 12rem;
//                     height: 2rem;
//                     gap: 10px;
//                 }
//                 .btnsearch {
//                     background-color: #e96a25;
//                     border-radius: 19px;
//                     border: none;
//                     color: white;
//                     padding-left: 40px;
//                     padding-right: 40px;
//                 }
//             }
//         }

//         .divcat {
//             display: flex;
//             flex-direction: row;
//             justify-content: center;
//             align-items: center;
//             margin-top: 30px;
//             gap: 20px;
//             .divcatcol1 {
//                 display: flex;
//                 align-items: center;
//                 gap: 20px;
//                 .btndivcat1 {
//                     background-color: #694973;
//                     color: white;
//                     border-radius: 30px;
//                     border: none;
//                     line-height: 60px;
//                     font-family: "rubik distressed";
//                     font-size: 32px;
//                     width: 10rem;
//                     height: 10rem;
//                 }
//                 .btndivcat2 {
//                     background-color: #82bbbd;
//                     color: white;
//                     border-radius: 30px;
//                     border: none;
//                     line-height: 60px;
//                     font-family: "rubik distressed";
//                     font-size: 32px;
//                     width: 10rem;
//                     height: 10rem;
//                 }
//             }
//             .divcatcol2 {
//                 display: flex;
//                 align-items: center;
//                 gap: 20px;
//                 .btndivcat3 {
//                     background-color: #85ad79;
//                     color: white;
//                     border-radius: 30px;
//                     border: none;
//                     line-height: 60px;
//                     font-family: "rubik distressed";
//                     font-size: 32px;
//                     width: 10rem;
//                     height: 10rem;
//                 }
//                 .btndivcat4 {
//                     background-color: #c55456;
//                     color: white;
//                     border-radius: 30px;
//                     border: none;
//                     line-height: 60px;
//                     font-family: "rubik distressed";
//                     font-size: 32px;
//                     width: 10rem;
//                     height: 10rem;
//                 }
//             }
//         }
//     }
// }

// @media screen and (min-width: 801px) and (max-width: 1400px) {
//     .divaccueil {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         .searchbar {
//             display: flex;
//             flex-direction: column;
//             background-color: #f0cd8c;
//             border: 3px solid #f4a159;
//             border-radius: 27px;
//             width: 90%;
//             height: 200px;
//             }
//         }
//             h1 {
//                 margin-top: 1rem;
//                 margin-bottom: 1rem;
//                 margin-left: 1rem;
//             }
//             .dropdown {
//                 display: flex;
//                 flex-direction: row;
//                 justify-content: center;
//                 align-items: center;
//                 gap: 20px;
//                 .btncatdrop {
//                     background-color: #f7dfae;
//                     border-radius: 19px;
//                     border: 3px solid #cab673;
//                     width: 20%;
//                     height: 2rem;
//                     gap: 10px;
//                 }
//                 .btnsearch {
//                     background-color: #e96a25;
//                     border-radius: 19px;
//                     border: none;
//                     color: white;
//                     padding-left: 40px;
//                     padding-right: 40px;
//                     width: 10rem;
//                     height: 2rem;
//                 }
//             }
// }

// @media screen and (max-width: 800px) {
//     .divaccueil {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         justify-content: center;
//         .searchbar {
//             display: flex;
//             flex-direction: column;
//             background-color: #f0cd8c;
//             border: 3px solid #f4a159;
//             border-radius: 27px;
//             width: 90%;
//             height: 250px;
//             }
//         }
//             h1 {
//                 font-size: 25px;
//                 margin-left: 1rem;
//             }
//             .dropdown {
//                 display: flex;
//                 flex-direction: column;
//                 justify-content: center;
//                 align-items: center;
//                 gap: 5px;
//                 .btncatdrop {
//                     background-color: #f7dfae;
//                     border-radius: 19px;
//                     border: 3px solid #cab673;
//                     width: 80%;
//                     height: 1rem;
//                     gap: 10px;
//                     font-size: 20px;
//                     .licat {
//                         width: 8rem;
//                         font-size: 20px;
//                         p {
//                             word-wrap: break-word;
//                         }
//                     }
//                 }
//                 .btnsearch {
//                     background-color: #e96a25;
//                     border-radius: 19px;
//                     border: none;
//                     color: white;
//                     padding-left: 40px;
//                     padding-right: 40px;
//                     width: 8rem;
//                     height: 1rem;
//                 }
//             }
// }
